@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="text"], input[type="password"], 
input[type="email"],input[type="number"],
input[type="tel"], textarea, .input-area{
  @apply w-full border my-1 py-2 px-4 rounded-2xl dark:bg-darkPick dark:border-none
}


textarea{
  @apply h-[130px]
}

button.primary{
  @apply bg-primary rounded-2xl text-white p-2 w-full
}

.perks-checkbox{
  @apply border p-4 flex rounded-2xl gap-2 items-center cursor-pointer
}

.map-container{
  width: 100%;
  height: 100%;
}


@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.animate-slide-down {
  animation: slideDown 0.5s ease-out;
}

.animate-slide-down-leave {
  animation: slideDown 0.5s ease-out;
  animation-direction: reverse;

}

.darkmode-checkbox {
  @apply h-8;
  content:"darkmode";
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 60px;
  border-radius: 30px;
  background-color: #333;
  position: relative;
  transition: all 0.5s ease-in;
  cursor: pointer;
  z-index: 1;
}


.darkmode-checkbox::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #EEE;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in;
}


.darkmode-checkbox:checked {
  background: #dddddd;
}


.darkmode-checkbox:checked::before {
  background: #333;
  left: 32px;
}

.user-nav-menu-button{
  @apply hover:bg-gray-100 dark:hover:bg-gray-800 px-3 py-2 flex flex-col text-center items-center rounded-2xl
}